<h2><%= "#{@employee.first_name} " "#{@employee.last_name}"%></h2>
<li>Title: <%="#{@employee.title}"  %></li>
<li>Alias: <%="#{@employee.alias}"  %></li>
<li>Office: <%="#{@employee.office}"  %></li>
<p>Pet: <%= @employee.dog.name %></p>
